<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>
	 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<%= link_to "Reply", new_blog_comment_reply_path(comment.blog, comment) %>